/* CSS declarations go here */
body{
    background: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h2{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}

#video-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

#controls{
    padding: 0 20px;
    text-align: center;
}

#controls p {
    padding-top: 20px;
    color: #ccc;
}

#controls span {
    color: #fff;
}

a{
    padding: 15px 30px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #ccc;
}

a:not(:last-child){
    margin-right: 30px;
}

input{
    padding: 10px;
    width: 250px;
    border-radius: 5px;
}