<head>
    <title>Video Chat App</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
</head>

<body>
	{{> hello}}
</body>

<template name="hello">
    <h2 class="title">Video Chat</h2>
    <div id="video-container">
        <div id="notmine">
            <p>Friends Video</p>
            <video id="theirVideo" class="theirVideo" autoplay></video>
        </div>
        <div id="mine">
            <p>My Video</p>
            <video id="myVideo" class="myVideo" width="200px" height="200px" autoplay></video>
        </div>
    </div>
    <h2>Controls</h2>
    <div id="controls">
        <p>Your id: <span id="myPeerId">...</span></p>
        <h4>Make a call </h4>
        <input type="text" placeholder="Call user id" id="remotePeerId">
        <p>
            <a href="#" id="makeCall">Call</a>
            <a href="#" id="endCall">End call</a>
        </p>
    </div>
</template>
